[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
loan-amortization = {file = ".", editable = true}
pillow = "*"
tk = "*"
numpy = "*"
matplotlib = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.10"
